<header class="top-header clearfix" ng-controller="layoutHeaderCtrl as vm">
    <div ui-preloader></div>

    <!-- Logo -->
    <div class="logo {{main.skin}}">
        <a href="#/">
            <span class="logo-icon zmdi zmdi-view-dashboard"></span>
            <span class="logo-text">{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                   md-button aria-label="toggle-nav-collapsed-min"
                   class="toggle-min"><i class="zmdi zmdi-menu"></i></a>
            </li>
        </ul>

        <ul class="nav-right pull-right list-unstyled">
            <li class="dropdown text-normal nav-profile" uib-dropdown is-open="status.isopenProfile">
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" md-button aria-label="profile">
                    <img src="images/g1.jpg" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-translate="{{vm.loginUser}}"></span>
                    </span>
                </a>
                <ul class="with-arrow pull-right dropdown-menu-scaleIn" uib-dropdown-menu>
                    <li>
                        <a ui-sref="page.updatepassword">
                            <i class="zmdi zmdi-forward"></i>
                            <span data-translate="修改密码"></span>
                        </a>
                        <a ng-click="vm.logout()" style="cursor:pointer">
                            <i class="zmdi zmdi-forward"></i>
                            <span data-translate="退出登录"></span>
                        </a>

                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
