<section class="page">

    <section class="row ui-section">
      <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
                <a class="card bg-dark-light" ui-sref="page.createJade({type:'dashboard',action:'create'})">
                    <div class="card-content">
                        <span class="card-title">创建</span>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="card bg-primary">
                    <div class="card-content">
                        <span class="card-title">未发布</span>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="card bg-info">
                    <div class="card-content">
                        <span class="card-title">已发布</span>
                    </div>
                </a>
            </div>
          </div>
      </div>
    </section>

  <script type="text/ng-template" id="QRcodeCtrl.html">
    <div class="modal-header">
      <h3>二维码</h3>
    </div>

    <div class="modal-body">
      <qrcode data-options="vm.qrcode" class="dialog-qrcode"></qrcode>
    </div>
    <div class="modal-footer">
      <button ui-wave class="btn btn-flat btn-default" ng-click="vm.cancel()">关闭</button>
    </div>
  </script>

    <section class="row ui-section">
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                  <div class="card bg-white">
                      <div class="card-image">
                          <img src="images/assets/600_400-1.jpg">
                          <span class="card-title">我是名字一</span>
                      </div>
                      <div class="card-content">
                          <a class="card-button pull-right" href="javascript:;">
                              <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="fa fa-heart"></i></button>
                          </a>
                          <p>我是内容二</p>
                      </div>
                      <div class="card-action">
                          <a ng-click="vm.showQR('https://yingyj.com')">二维码</a>
                          <a ng-click="vm.delItem()">删除</a>
                      </div>
                  </div>
              </div><div class="col-md-4">
                  <div class="card bg-white">
                      <div class="card-image">
                          <img src="images/assets/600_400-2.jpg">
                          <span class="card-title">我是名字二</span>
                      </div>
                      <div class="card-content">
                          <a class="card-button pull-right" href="javascript:;">
                              <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="fa fa-heart"></i></button>
                          </a>
                          <p>我是内容一</p>
                      </div>
                      <div class="card-action">
                          <a href="javascript:;">二维码</a>
                          <a href="javascript:;">删除</a>
                      </div>
                  </div>
              </div>
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="images/assets/600_400-3.jpg">
                            <span class="card-title">我是名字三</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right" href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="fa fa-heart"></i></button>
                            </a>
                            <p>我是内容三</p>
                        </div>
                        <div class="card-action">
                          <a href="javascript:;">二维码</a>
                          <a href="javascript:;">删除</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="images/assets/600_400-3.jpg">
                            <span class="card-title">我是名字三</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right" href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="fa fa-heart"></i></button>
                            </a>
                            <p>我是内容三</p>
                        </div>
                        <div class="card-action">
                          <a href="javascript:;">二维码</a>
                          <a href="javascript:;">删除</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img src="images/assets/600_400-3.jpg">
                            <span class="card-title">我是名字三</span>
                        </div>
                        <div class="card-content">
                            <a class="card-button pull-right" href="javascript:;">
                                <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="fa fa-heart"></i></button>
                            </a>
                            <p>我是内容三</p>
                        </div>
                        <div class="card-action">
                          <a href="javascript:;">二维码</a>
                          <a href="javascript:;">删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
