<div class="page page-profile">

  <div class="row ui-section">
    <div class="col-lg-8 clearfix">
      <h2 class="section-header">创建玉石</h2>
    </div>
    <div class="col-md-12">
      <div class="row" data-ng-controller="CreatJadeCtrl as vm" ng-cloak>
        <div class="col-md-12">
          <section class="panel panel-default">
            <div class="panel-body no-padding">

              <md-tabs md-selected="vm.tabs.selectedIndex" md-dynamic-height md-border-bottom md-autoselect>
                <md-tab label="基本资料">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div layout="column" class="md-inline-form layout-column">

                        <form layout-padding=""
                              name="form"
                              class="form-horizontal"
                              ng-submit="form.$valid && vm.submit()"
                              novalidate>
                          <fieldset>

                            <md-input-container
                              md-is-error="form.articleTitle.$invalid && (form.$submitted || form.articleTitle.$dirty)"
                              class="md-block">
                              <label>请输入标题</label>

                              <input
                                type="text"
                                ng-required="true"
                                maxlength="20"
                                ng-model="vm.form.articleTitle"
                                autocomplete="off"
                                name="articleTitle"
                                id="articleTitle">

                              <div
                                ng-messages="form.articleTitle.$error"
                                ng-if="form.$submitted || form.articleTitle.$touched">

                                <div ng-message="'required'">必填项</div>

                              </div>
                            </md-input-container>

                            <div class="divider"></div>

                            <md-input-container
                              md-is-error="form.jadeType.$invalid && (form.$submitted || form.jadeType.$dirty)"
                              class="md-block">

                              <label>请选择类型</label>
                              <md-select
                                ng-model="vm.form.jadeType"
                                md-model-option="{trackBy:$index}"
                                ng-required="true"
                                name="jadeType"
                                id="jadeType">
                                <md-option
                                  ng-repeat="item in vm.jadeType"
                                  value="{{item.id}}">
                                  {{item.text}}
                                </md-option>
                              </md-select>

                              <div class="errors"
                                   ng-messages="form.jadeType.$error"
                                   ng-if="form.$submitted || form.jadeType.$touched">
                                <div ng-message="required">必填项</div>
                              </div>

                            </md-input-container>

                            <md-input-container
                              md-is-error="form.details.$invalid && (form.$submitted || form.details.$dirty)"
                              class="md-block">
                              <div text-angular
                                   class="ui-editor"
                                   ng-required="true"
                                   ng-model="vm.form.details"
                                   id="details"
                                   name="details"></div>

                              <div class="errors"
                                   ng-messages="form.details.$error"
                                   ng-if="form.$submitted || form.details.$touched">
                                <div ng-message="required">必填项</div>
                              </div>
                            </md-input-container>

                            <div class="pull-right">
                              <md-button
                                type="submit"
                                class="md-raised btn-w-md"
                                ng-class="{'md-primary':form.$valid}">提交
                              </md-button>
                            </div>
                          </fieldset>
                        </form>

                      </div>
                    </div>
                  </div>

                </md-tab>
                <md-tab label="流程处理">

                  <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div layout="column" class="md-inline-form layout-column">
                        <div class="ui-timline-container">
                          <section class="ui-timeline">

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">

                                  <!--根据类型设置属性-->
                                  <div class="tl-caption">
                                    <a href="javascript:;" class="btn btn-primary btn-block">Today</a>
                                  </div>

                                </div>
                              </div>
                            </article>

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i
                                    class="fa fa-asterisk"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-primary">Go hiking</h4>
                                    <p>Consectetur adipisicing elit. Error, accusantium debitis voluptatem dolore
                                      excepturi ducimus fugiat nulla perspiciatis quo ipsum non eligendi nisi veniam
                                      maxime in quas atque omnis cumque!</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item alt">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">1 hour ago</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-warning"><i
                                    class="fa fa-shopping-cart"></i></div>

                                </div>
                              </div>
                            </article>

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-warning">Soluta nihil</h4>
                                    <p>Incidunt, molestias odio soluta nihil accusantium sit nostrum doloremque.
                                      Recusandae, ullam, odio consequatur facere totam reiciendis similique dicta
                                      explicabo!</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item alt">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">7 hours ago</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-primary"><i class="fa fa-clock-o"></i></div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">

                                  <div class="tl-content">
                                    <h4 class="tl-tile text-info">Accusantium sint</h4>
                                    <p>Ipsam, minus, quam, sit officiis accusantium sint voluptates voluptatibus minima
                                      cum non quos corrupti dolorem eligendi modi eius magnam unde!</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-caption">
                                    <a href="javascript:;" class="btn btn-danger btn-block">Yesterday</a>
                                  </div>
                                </div>
                              </div>
                            </article>


                          </section>
                        </div>

                      </div>
                    </div>
                  </div>

                </md-tab>
              </md-tabs>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

</div>
