<div class="page page-profile">

  <div class="row ui-section">
    <div class="col-lg-8 clearfix">
      <h2 class="section-header">创建玉石</h2>
    </div>
    <div class="col-md-12">
      <div class="row" data-ng-controller="CreatJadeCtrl as vm" ng-cloak>
        <div class="col-md-12">
          <section class="panel panel-default">
            <div class="panel-body no-padding">

              <md-tabs md-selected="vm.tabs.selectedIndex" md-dynamic-height md-border-bottom md-autoselect>
                <md-tab label="基本资料">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div layout="column" class="md-inline-form layout-column">

                        <form layout-padding=""
                              name="myForm"
                              class="form-horizontal"
                              ng-submit="myForm.$valid && vm.submit()"
                              novalidate>
                          <fieldset>

                            <md-input-container
                              md-is-error="myForm.articleTitle.$invalid && (myForm.$submitted || myForm.articleTitle.$dirty)"
                              class="md-block">
                              <label>请输入标题</label>

                              <input
                                type="text"
                                ng-required="true"
                                maxlength="20"
                                ng-model="vm.form.articleTitle"
                                autocomplete="off"
                                name="articleTitle"
                                id="articleTitle">

                              <div
                                ng-messages="myForm.articleTitle.$error"
                                ng-if="myForm.$submitted || myForm.articleTitle.$touched">

                                <div ng-message="'required'">必填项</div>

                              </div>
                            </md-input-container>

                            <div class="divider"></div>

                            <md-input-container
                              md-is-error="myForm.jadeType.$invalid && (myForm.$submitted || myForm.jadeType.$dirty)"
                              class="md-block">

                              <label>请选择类型</label>
                              <md-select
                                ng-model="vm.form.jadeType"
                                md-model-option="{trackBy:$index}"
                                ng-required="true"
                                name="jadeType"
                                id="jadeType">
                                <md-option
                                  ng-repeat="item in vm.jadeType"
                                  value="{{item.id}}">
                                  {{item.text}}
                                </md-option>
                              </md-select>

                              <div class="errors"
                                   ng-messages="myForm.jadeType.$error"
                                   ng-if="myForm.$submitted || myForm.jadeType.$touched">
                                <div ng-message="required">必填项</div>
                              </div>

                            </md-input-container>

                            <md-input-container
                              md-is-error="myForm.details.$invalid && (myForm.$submitted || myForm.details.$dirty)"
                              class="md-block">
                              <div text-angular
                                   class="ui-editor"
                                   ng-required="true"
                                   ng-model="vm.form.details"
                                   id="details"
                                   name="details"></div>

                              <div class="errors"
                                   ng-messages="myForm.details.$error"
                                   ng-if="myForm.$submitted || myForm.details.$touched">
                                <div ng-message="required">必填项</div>
                              </div>
                            </md-input-container>

                            <div class="pull-right">
                              <md-button
                                type="submit"
                                class="md-raised btn-w-md"
                                ng-class="{'md-primary':myForm.$valid}">提交
                              </md-button>
                            </div>
                          </fieldset>
                        </form>

                      </div>
                    </div>
                  </div>

                </md-tab>
                <md-tab label="流程处理">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div layout="column" class="md-inline-form layout-column">
                        <div class="ui-timline-container">
                          <section class="ui-timeline">
                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-caption">
                                    <a href="javascript:;" class="btn btn-primary btn-block">Today</a>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">3 min ago</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="fa fa-asterisk"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-primary">Go hiking</h4>
                                    <p>Consectetur adipisicing elit. Error, accusantium debitis voluptatem dolore excepturi ducimus fugiat nulla perspiciatis quo ipsum non eligendi nisi veniam maxime in quas atque omnis cumque!</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item alt">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">1 hour ago</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-warning"><i class="fa fa-shopping-cart"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-danger">Buy some toys</h4>
                                    <p>Ullam, commodi, modi, impedit nostrum odio sit odit necessitatibus accusantium enim voluptates culpa cupiditate cum pariatur a recusandae tenetur aspernatur at beatae.</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">3 hours ago</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-success"><i class="fa fa-camera"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-warning">Soluta nihil</h4>
                                    <p>Incidunt, molestias odio soluta nihil accusantium sit nostrum doloremque. Recusandae, ullam, odio consequatur facere totam reiciendis similique dicta explicabo!</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item alt">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">7 hours ago</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-danger"><i class="fa fa-check"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-success">Odio sit odit necessitatibus</h4>
                                    <p>Ullam, commodi, modi, impedit nostrum odio sit odit necessitatibus accusantium enim voluptates culpa cupiditate cum pariatur a recusandae tenetur aspernatur at beatae.</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">10 hours ago</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-primary"><i class="fa fa-clock-o"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-info">Accusantium sint</h4>
                                    <p>Ipsam, minus, quam, sit officiis accusantium sint voluptates voluptatibus minima cum non quos corrupti dolorem eligendi modi eius magnam unde!</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-caption">
                                    <a href="javascript:;" class="btn btn-danger btn-block">Yesterday</a>
                                  </div>
                                </div>
                              </div>
                            </article>


                            <article class="tl-item alt">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">8:30 PM</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-warning"><i class="fa fa-comment-o"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile">Enim asperiores facere</h4>
                                    <p>Odit, iusto, dolorem, aut ipsum rem atque enim asperiores facere tempore explicabo omnis corporis hic! Molestias, dolores, iure esse at illo aliquam temporibus in eum cupiditate magni velit eveniet unde facilis quisquam numquam nihil atque tempore vitae porro maxime repellendus quas a sit repellat delectus expedita nam natus fugiat ut ipsam eaque voluptates omnis ratione?</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">7:00 PM</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-success"><i class="fa fa-folder-o"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-warning">Illum veniam atque</h4>
                                    <p>Illum veniam atque iste voluptatem eos saepe quisquam aperiam voluptatum sunt.</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item alt">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">12:55 PM</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-danger"><i class="fa fa-folder"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-success">Voluptas molestias</h4>
                                    <p>At, veniam, officia pariatur voluptas molestias nobis distinctio quo temporibus! Nisi, fugit, ipsum, veritatis, optio consectetur nam molestiae quidem placeat deleniti animi ad nobis iure modi eius recusandae odio adipisci nesciunt.</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">10:13 AM</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-primary"><i class="fa fa-envelope-o"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-info">Nulla magni sequi</h4>
                                    <p>Laborum, ducimus, perferendis nulla magni sequi cumque nisi eum praesentium omnis voluptas id molestias adipisci accusamus nobis totam. Odit, hic suscipit necessitatibus quos</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                            <article class="tl-item alt">
                              <div class="tl-body">
                                <div class="tl-entry">
                                  <div class="tl-time">9:10 AM</div>
                                  <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="fa fa-gift"></i></div>
                                  <div class="tl-content">
                                    <h4 class="tl-tile text-primary">Sed cumque temporibus</h4>
                                    <p>Deserunt sed cumque temporibus. Doloribus, iste, sit recusandae fugiat assumenda ea magni at doloremque ipsum amet molestias error mollitia maxime ad alias eos id cumque corporis placeat nisi a quaerat nemo magnam ab numquam ratione facere dolorum. Cumque, dolores, sint molestiae eaque quibusdam illo error!</p>
                                  </div>
                                </div>
                              </div>
                            </article>

                          </section>
                        </div>

                      </div>
                    </div>
                  </div>
                </md-tab>
              </md-tabs>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

</div>
