<div class="page-forgot" ng-controller="authCtrl as vm">

  <div class="wrapper">
    <div class="main-body">
      <div class="body-inner">
        <form class="card bg-white form-horizontal"
              name="form"
              novalidate>
          <div class="card-content">
            <section class="logo text-center">
              <h1><a href="#/">{{main.brand}}</a></h1>
            </section>

            <div layout-padding="">
              <fieldset>

                <md-input-container
                  md-is-error="form.email.$invalid && (form.$submitted || form.email.$dirty)"
                  class="md-block">
                  <input type="text"
                         name="email"
                         id="email"
                         ng-model="vm.form.email"
                         ng-pattern="/^[a-z0-9][a-z0-9._-]*@[a-z0-9_-]+(\.[a-z0-9_-]+)+$/i"
                         required>
                  <label>Email</label>

                  <div class="additional-info text-center text-small">
                    Enter your email address that you used to register. We'll send you an email with your username and a
                    link to reset your password.
                  </div>

                  <div ng-messages="form.email.$error"
                       ng-if="form.$submitted || form.email.$touched">

                    <div ng-message="required">必填项</div>
                    <div ng-message="pattern">邮箱格式错误</div>

                  </div>
                </md-input-container>

              </fieldset>
            </div>
          </div>
          <div class="card-action no-border text-right">
            <a ng-class="{'color-primary':form.$valid}" ng-click="form.$valid && vm.forgotPwd()">Reset</a>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

