<div class="row">
  <div class="col-md-12">
    <div layout="column" class="md-inline-form layout-column" layout-padding="">

      <!--添加照片-->
      <script type="text/ng-template" id="upload-files.html">
        <md-dialog>
          <form>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>上传图片</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                  <i class="zmdi zmdi-close"></i>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>

              <md-button
                ngf-select="vm.uploadFiles($files)"
                accept="image/*"
                class="md-raised md-primary btn-w-xs">选择图片
              </md-button>

              <table class="table no-margin" ng-show="vm.files">
                <thead>
                <tr>
                  <th>编号</th>
                  <th>文件名</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in vm.files track by $index">
                  <td ng-bind="$index"></td>
                  <td ng-bind="file.name"></td>

                   <td><img ng-src={{vm.backgroundUrl}}
                            ng-style="{
                            width="20px",
                            height="20px" 
                            }"
                   ></td>
                  <td><i class="color-error">x</i></td>
                </tr>
                </tbody>
              </table>

            </md-dialog-content>
            <md-dialog-actions layout="row">
              <md-button ng-click="vm.cancel()">取消</md-button>
              <md-button ng-click="vm.save()" ng-show="vm.uploadValidation">完成</md-button>
            </md-dialog-actions>
          </form>
        </md-dialog>
      </script>

      <!--添加介绍-->
      <script type="text/ng-template" id="add-txt.html">
        <md-dialog>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>添加本阶段介绍</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="zmdi zmdi-close"></i>
              </md-button>
            </div>
          </md-toolbar>
          <form name="form" novalidate>
            <md-dialog-content class="md-padding">

              <md-input-container
                class="md-block"
                md-is-error="form.txt.$invalid && (form.$submitted || form.txt.$dirty)">
                <label>标题</label>

                <textarea
                  type="text"
                  ng-required="true"
                  ng-model="vm.form.txt"
                  autocomplete="off"
                  name="txt"
                  id="txt">

                </textarea>

                <div
                  ng-messages="form.txt.$error"
                  ng-if="form.$submitted || form.txt.$touched">
                  <div ng-message="required">必填项</div>
                </div>
              </md-input-container>

            </md-dialog-content>
            <md-dialog-actions layout="row">
              <md-button type="submit" ng-click="vm.save()">完成</md-button>
              <md-button ng-click="vm.cancel()">取消</md-button>
            </md-dialog-actions>
          </form>
        </md-dialog>
      </script>


      <div class="col">
        <div class="wrapper">
          <ul class="timeline">

            <li class="tl-item tl-left" ng-repeat="item in vm.timeline track by $index">
              <div class="tl-wrap {{item.className}}">
                <span class="tl-date" ng-bind="item.name"></span>
                <div class="tl-content panel padder b-a block">
                  <span class="arrow left pull-up hidden-left"></span>
                  <span class="arrow right pull-up visible-left"></span>
                  <div class="text-lt m-b-sm">
                    <md-button
                      ng-click="vm.upload($index,$event)"
                      class="md-raised md-primary btn-w-xs">添加图片
                    </md-button>
                    <md-button
                      ng-click="vm.addDescription($index,$event)"
                      class="md-raised md-primary btn-w-xs">添加介绍
                    </md-button>
                  </div>
                  <div class="panel-body pull-in b-t b-light row">
                    <p ng-bind="item.describe"></p>
                    <div class="m-b m-t tl-img-list">

                      <a class="col-md-2" ng-repeat="img in item.img track by $index">
                        <img ng-src="{{img}}" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>

      </div>
      <div class="page-bottom bg-white b-t row panel-body">
          <div class="col-md-8"></div>
          <div class=" col-md-4 center-block">
              <md-button
                  type="submit"
                  class="md-raised btn-w-md"
                  ng-click = "vm.upTimeData()"
                  ng-class="{'md-primary':true}">提交
              </md-button>
          </div>
      </div>


    </div>

  </div>

</div>
