<div class="page-signin" ng-controller="authCtrl as vm">
  <div class="wrapper">
    <div class="main-body">
      <div class="body-inner">
        <form class="card bg-white"
              name="form"
              ng-submit="form.$valid && vm.updatePwd()"
              novalidate>
          <div class="card-content">
            <section class="logo text-center">
              <h3><a href="#/">{{main.brand}} - 修改密码</a></h3>
            </section>
            <div
              class="form-horizontal">
              <fieldset>
                <md-input-container
                  md-is-error="form.phone.$invalid && (form.$submitted || form.phone.$dirty)"
                  class="md-block">

                  <input type="text"
                         required
                         name="phone"
                         ng-pattern="vm.validate.mobile"
                         ng-model="vm.form.phone">
                  <label>手机</label>
                  <div
                    ng-messages="form.phone.$error"
                    ng-if="form.$submitted || form.phone.$touched">

                    <div ng-message="required">必填项</div>
                    <div ng-message="pattern">手机格式错误</div>

                  </div>
                </md-input-container>

                <md-input-container
                  md-is-error="form.password.$invalid && (form.$submitted || form.password.$dirty)"
                  class="md-block">
                  <input type="password"
                         required
                         name="password"
                         minlength="6"
                         ng-model="vm.form.password">
                  <label>密码</label>
                  <div
                    ng-messages="form.password.$error"
                    ng-if="form.$submitted || form.password.$touched">

                    <div ng-message="required">必填项</div>
                    <div ng-message="minlength">最少6位字符</div>

                  </div>
                </md-input-container>

                <md-input-container
                  md-is-error="form.rePwd.$invalid && (form.$submitted || form.rePwd.$dirty)"
                  class="md-block">
                    <input type="password"
                           required
                           name="rePwd"
                           match="vm.form.password"
                           ng-model="vm.form.rePwd">
                    <label>重复密码</label>
                  <div
                    ng-messages="form.rePwd.$error"
                    ng-if="form.$submitted || form.rePwd.$touched">

                    <div ng-message="required">必填项</div>
                    <div ng-message="match">2次密码不一致</div>

                  </div>
                </md-input-container>

              </fieldset>
            </div>
          </div>
          <div class="card-action no-border text-right">
            <!--<a href="#/" class="color-primary" ng-click="update($event)">修改</a>-->
            <md-button
              type="submit"
              class="md-raised btn-w-md"
              ng-class="{'md-primary':form.$valid}">更新
            </md-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
